/*html,
body,
header,
#intro {
	height: 100%;
}
#intro {
	background: "https://i.ytimg.com/vi/AJsOA4Zl6Io/maxresdefault.jpgno-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
body, html {
    height: 100%;
}
body{

    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-attachment: fixed;*/

    /*background-image: url("../img/bg-4.jpg");*/
    height:100vh;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; *//*
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; */
    background-size: cover;
  }
.special-transparent {
      background-color: transparent;
      opacity: .4;
      border-color:transparent;
      background-image:none;
      box-shadow:none;  
 }
 .card-special {
/* create a custom class so you 
   do not run into specificity issues 
   against bootstraps styles
   which tends to work better than using !important 
   (future you will thank you later)*/

  background-color: transparent;
}
.cd-fixed-bg {  
  min-height: 55vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url("../img/bg-1.jpg");
}

.cd-fixed-bg.cd-fixed-bg--2 {
  background-image: url("../img/bg-2.png");
}

.cd-fixed-bg.cd-fixed-bg--3 {
  background-image: url("../img/bg-3.jpg");
}

.cd-fixed-bg.cd-fixed-bg--4 {
  background-image: url("../img/bg-4.jpg");
}
.cd-fixed-bg.cd-fixed-bg--5 {
  background-image: url("../img/bg-5.jpg");
}

.cd-fixed-bg.cd-fixed-bg--6 {
  background-image: url("../img/bg-6.jpg");
}
.cd-fixed-bg.cd-fixed-bg--7 {
  background-image: url("../img/bg-7.jpg");
}
.cd-fixed-bg.cd-fixed-bg--8 {
  background-image: url("../img/bg-8.jpg");
}
.cd-scrolling-bg {
  min-height: 100%;
}
.cd-scrolling-bg.cd-scrolling-bg--color-1 {
  /*GRAY*/
  background-color: #3d3536;
  color: #a6989a;
}

.cd-scrolling-bg.cd-scrolling-bg--color-2 {
  /*PUKE GREEN*/
  background-color: #99a478;
  color: #3d3536;
}

.cd-scrolling-bg.cd-scrolling-bg--color-3 {
  /*ORANGE*/
  background-color: #D07206;
  color: #3d3536;
}
.cd-scrolling-bg.cd-scrolling-bg--color-4 {
  /*LIGHT GREEN*/
  background-color: #b4d7a8;
  color: #3d3536;
}
.cd-scrolling-bg.cd-scrolling-bg--color-5 {
  /*BLACK*/
  background-color:#010101 ;
  color: #FEFEFE;
}
.cd-scrolling-bg.cd-scrolling-bg--color-6 {
  /*RED*/
  background-color:#D10101 ;
  color: #FEFEFE;
}
.cd-scrolling-bg.cd-scrolling-bg--color-7 {
  /*BLUE*/
  background-color:#39D7FE ;
  color: #FEFEFE;
}
.cd-scrolling-bg.cd-scrolling-bg--color-8 {
  /*DARK GREEN*/
  background-color:#009528 ;
  color: #FEFEFE;
}
.cd-scrolling-bg.cd-scrolling-bg--color-9 {
  /*CYAN*/
  background-color:#01FED4 ;
  color: #010101;
}
.cd-scrolling-bg.cd-scrolling-bg--color-10 {
  /*INDIGO*/
  background-color:#4D01FE ;
  color: #FEFEFE;
}
.cd-scrolling-bg.cd-scrolling-bg--color-11 {
  /*NEON GREEN-YELLOW*/
  background-color:#B1EC28 ;
  color: #010101;
}


