/*html,
body,
header,
#intro {
	height: 100%;
}
#intro {
	background: "https://i.ytimg.com/vi/AJsOA4Zl6Io/maxresdefault.jpgno-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
body, html {
    height: 100%;
}
body{

    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-attachment: fixed;*/

    /*background-image: url("../img/bg-4.jpg");*/
    /*height:100vh;
    width:100%;*/
    background-position: center;
    /*background-repeat: repeat;
    background-attachment: fixed;*/
    /*-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; *//*
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; */
    /*background-size: cover;*/
  }
.special-transparent {
      background-color: transparent;
      opacity: .4;
      border-color:transparent;
      background-image:none;
      box-shadow:none;  
 }
 .card-special {
/* create a custom class so you 
   do not run into specificity issues 
   against bootstraps styles
   which tends to work better than using !important 
   (future you will thank you later)*/

  background-color: transparent;
}

